@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #000000;
  background: #babcff;
}
.idle-stripes {
  background: repeating-linear-gradient(
    -55deg,
    #f7f7f7,
    #f7f7f7 10px,
    #fff 10px,
    #fff 20px
  );
}
/* animations */
@keyframes readyQAnimation {
  from {
    width: 0px;
  }
  to {
    width: 40px;
  }
}
@keyframes hideBarContainer {
  from {
    width: 40px;
  }
  to {
    width: 0px;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInNumbers {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes width-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.gradient {
  &::before {
    top: 1rem;
    width: 480px;
    height: 360px;
    left: 50%;
    transform: translateX(-30%);
    border-radius: 50%;
    background: conic-gradient(#87ceeb, #6f00ff);
    filter: blur(2rem);
    opacity: 0.2;
  }
  &::after {
    top: 4rem;
    left: 50%;
    height: 180px;
    width: 240px;
    transform: translateX(-130%);
    background: conic-gradient(#87ceeb, #2b00ff);
    filter: blur(3rem);
    opacity: 0.4;
  }
}
body {
  &::before {
    top: 1rem;
    width: 480px;
    height: 360px;
    left: 50%;
    transform: translateX(-30%);
    border-radius: 50%;
    background: conic-gradient(#87ceeb, #0000ff);
    filter: blur(2rem);
    opacity: 0.2;
  }
  &::after {
    top: 4rem;
    left: 50%;
    height: 180px;
    width: 240px;
    transform: translateX(-130%);
    background: conic-gradient(#87ceeb, #0000ff);
    filter: blur(3rem);
    opacity: 0.4;
  }
}
main {
  &::before {
    top: 1rem;
    height: 300px;
    width: 400px;
    left: 50%;
    transform: translateX(-30%);
    border-radius: 50%;
    background: conic-gradient(#87ceeb, #ff003c);
    filter: blur(1rem);
    opacity: 0.1;
  }
}
main::before,
main::after,
body::before,
body::after,
.gradient::before,
.gradient::after {
  content: "";
  position: absolute;
  z-index: -20;
}
